<header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/">No CSP</a></li>
        <li><a href="/basic-csp">Basic CSP</a></li>
        <li><a href="/moderate-csp">Moderate CSP</a></li>
        <li><a href="/strict-csp">Strict CSP</a></li>
      </ul>
    </nav>
  </header>